{% extends "base.html" %}

{% block head %}
<title>BreadSched &mdash; Time Your Bread Just Right</title>
<meta name="description" content="Generate a schedule for your bread baking.">
{% endblock %}

{% block body %}


<div class="container">

	<center><div class="row mx-auto justify-content-center">
		<h1 style="font-weight: 700;">BreadSched</h1>
	</div>


	<div class="row mx-auto justify-content-center">
		<div class="col-*">
			<h5>Never mistime your bread again!</h5>
		</div>
	</div></center><br>

	<div class="row mx-auto justify-content-center mb-2">
		<div class ="col-md-5">
			<h4>Welcome to BreadSched. We help you time your bread
			just right!</h4>

			<p>BreadSched is for the baker who wants to be on time.
				Every time. Baking bread isn't easy and getting your
				bread to come out of the oven right on time to eat is
				a challenge.</p>

			<p>BreadSched creates a <strong>customized, easy to follow
				baking schedule.</strong> Just input some estimated
				times into BreadSched, click
				<span class="text-primary">calculate</span>,
				and you get a <strong>freshly baked schedule</strong>, viewable on a
				screen or printed, and easy to use with a timer.
				BreadSched is great for <strong>experienced and new
				bakers alike!</strong></p>

			<p>BreadSched works for any bread. All you need is a basic
				idea of how long each bread-baking step will take.
				It's especially good for timing sourdough or other
				complex doughs.</p>

			<p><strong>Happy baking!</strong></p>
		</div>

	</div>

	<div class="row mx-auto justify-content-center">
		<div class="col-*">
			<a class="btn btn-primary" href="/calculator" role="button">Build Your BreadSched</a>
		</div>
	</div><br>



</div>
{% endblock %}
