{% extends "base.html" %}

{% block body %}
<div class="container">


    <h1 style="font-weight: 700;">Information</h1>
	<div class="row mx-auto justify-content-center">
		<div class="col-*">
			<h5>Details on each time parameter.</h5>
		</div>
	</div>


    <h5><em><small class="text-muted">Click <a href="/">here</a> to return back home.</small></em></h5></p>

    <div class="list-group" align="left">
        <li class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-50 justify-content-between">
                <h5 class="mb-2"><strong>Mixtime</strong></h5>
            </div>
            <p class="mb-1">Time to create the dough.</p>
        </li>
        <li class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-50 justify-content-between">
                <h5 class="mb-2"><strong>1st rise</strong></h5>
            </div>
            <p class="mb-2">First bulk rise.</p>
        </li>

        <li class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-50 justify-content-between">
                <h5 class="mb-2"><strong>1st rise range</strong></h5>
            </div>
            <p class="mb-2">Allowable over/under for the first bulk rise (how many minutes longer or shorter the rise can be).</p>
        </li>

        <li class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-50 justify-content-between">
                <h5 class="mb-2"><strong>2nd rise</strong></h5>
            </div>
            <p class="mb-2">Second (shorter) rise.</p>
        </li>

        <li class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-50 justify-content-between">
                <h5 class="mb-2"><strong>Action time</strong></h5>
            </div>
            <p class="mb-2">An action in between the two rises (ex: kneading, braiding).</p>
        </li>

        <li class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-50 justify-content-between">
                <h5 class="mb-2"><strong>Bake time</strong></h5>
            </div>
            <p class="mb-2">Time to bake the bread.</p>
        </li>

        <li class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-50 justify-content-between">
                <h5 class="mb-2"><strong>Cool time</strong></h5>
            </div>
            <p class="mb-2">Time to cool the bread before eating.</p>
        </li>
    </div>
    <br><br>

</div>
{% endblock %}
